In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('merged.csv')

In [3]:
df.shape

(209138, 30)

In [4]:
df=df[df['DEP_DELAY'].notna()]
df=df[df['DEP_DELAY']>=-20]

In [5]:
np.sort(df['DEP_DELAY'])

array([ -20.,  -20.,  -20., ..., 1301., 1348., 1700.])

In [6]:
a=[1,2,3,4,6,8,9]
for i in a:
    s='WT'+str(0)+str(i)
    a=np.where(df[s].isna(),0,1)
    df[s]=a

In [7]:
df=df.drop('PGTM',axis=1)

In [8]:
df.head()

,Unnamed: 0,YEAR,MONTH,DAY_OF_MONTH,OP_UNIQUE_CARRIER,TAIL_NUM,DEP_TIME,DEP_DELAY,DATE,STATION,...,WDF5,WSF2,WSF5,WT01,WT02,WT03,WT04,WT06,WT08,WT09
0,0,2016,8,3,DL,N376DA,811.0,-4.0,2016-08-03,USW00094789,...,110.0,16.1,19.9,0,0,0,0,0,0,0
1,1,2016,8,3,DL,N3765,802.0,-3.0,2016-08-03,USW00094789,...,110.0,16.1,19.9,0,0,0,0,0,0,0
2,2,2016,8,3,DL,N803DN,658.0,-2.0,2016-08-03,USW00094789,...,110.0,16.1,19.9,0,0,0,0,0,0,0
3,3,2016,8,3,DL,N354NW,1814.0,30.0,2016-08-03,USW00094789,...,110.0,16.1,19.9,0,0,0,0,0,0,0
4,4,2016,8,3,DL,N713TW,803.0,-2.0,2016-08-03,USW00094789,...,110.0,16.1,19.9,0,0,0,0,0,0,0

In [9]:
df=df.drop(['WDF2','WDF5',"WSF5"],axis=1)

In [10]:
df.columns

Index(['Unnamed: 0', 'YEAR', 'MONTH', 'DAY_OF_MONTH', 'OP_UNIQUE_CARRIER',
       'TAIL_NUM', 'DEP_TIME', 'DEP_DELAY', 'DATE', 'STATION', 'NAME', 'AWND',
       'PRCP', 'SNOW', 'SNWD', 'TAVG', 'TMAX', 'TMIN', 'WSF2', 'WT01', 'WT02',
       'WT03', 'WT04', 'WT06', 'WT08', 'WT09'],
      dtype='object')

In [11]:
df=df.drop(['STATION','NAME'],axis=1)

In [12]:
df.head()

,Unnamed: 0,YEAR,MONTH,DAY_OF_MONTH,OP_UNIQUE_CARRIER,TAIL_NUM,DEP_TIME,DEP_DELAY,DATE,AWND,...,TMAX,TMIN,WSF2,WT01,WT02,WT03,WT04,WT06,WT08,WT09
0,0,2016,8,3,DL,N376DA,811.0,-4.0,2016-08-03,7.83,...,79,64,16.1,0,0,0,0,0,0,0
1,1,2016,8,3,DL,N3765,802.0,-3.0,2016-08-03,7.83,...,79,64,16.1,0,0,0,0,0,0,0
2,2,2016,8,3,DL,N803DN,658.0,-2.0,2016-08-03,7.83,...,79,64,16.1,0,0,0,0,0,0,0
3,3,2016,8,3,DL,N354NW,1814.0,30.0,2016-08-03,7.83,...,79,64,16.1,0,0,0,0,0,0,0
4,4,2016,8,3,DL,N713TW,803.0,-2.0,2016-08-03,7.83,...,79,64,16.1,0,0,0,0,0,0,0

In [13]:
df.isna().sum()

Unnamed: 0           0
YEAR                 0
MONTH                0
DAY_OF_MONTH         0
OP_UNIQUE_CARRIER    0
TAIL_NUM             0
DEP_TIME             0
DEP_DELAY            0
DATE                 0
AWND                 0
PRCP                 0
SNOW                 0
SNWD                 0
TAVG                 0
TMAX                 0
TMIN                 0
WSF2                 0
WT01                 0
WT02                 0
WT03                 0
WT04                 0
WT06                 0
WT08                 0
WT09                 0
dtype: int64

In [ ]:
a=np.sort(df['DEP_DELAY'])
maxi=int(a[len(a)-1])
mini=int(a[0])
bins=range(mini,400,20)
plt.hist(bins,a)

KeyboardInterrupt:

In [21]:
df=df[df["DEP_DELAY"]<=200]

In [22]:
delay=[]
for i,j in df['DEP_DELAY'].iteritems():
    if(j>0 and j<=10):
        delay.append(1)
    elif (j>10 and j<=30):
        delay.append(2)
    elif (j>30):
        delay.append(3)
    else:
        delay.append(0)

In [23]:
df['DELAY']=delay

In [25]:
df.shape

(201347, 25)