In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
df=pd.read_csv('merged.csv')

In [11]:
df.shape

(209138, 30)

In [12]:
df=df[df['DEP_DELAY'].notna()]
df=df[df['DEP_DELAY']>=-20]

In [13]:
np.sort(df['DEP_DELAY'])

array([ -20.,  -20.,  -20., ..., 1301., 1348., 1700.])

In [14]:
a=[1,2,3,4,6,8,9]
for i in a:
    s='WT'+str(0)+str(i)
    a=np.where(df[s].isna(),0,1)
    df[s]=a

In [15]:
df=df.drop('PGTM',axis=1)

In [16]:
df.head()

,Unnamed: 0,YEAR,MONTH,DAY_OF_MONTH,OP_UNIQUE_CARRIER,TAIL_NUM,DEP_TIME,DEP_DELAY,DATE,STATION,...,WDF5,WSF2,WSF5,WT01,WT02,WT03,WT04,WT06,WT08,WT09
0,0,2016,8,3,DL,N376DA,811.0,-4.0,2016-08-03,USW00094789,...,110.0,16.1,19.9,0,0,0,0,0,0,0
1,1,2016,8,3,DL,N3765,802.0,-3.0,2016-08-03,USW00094789,...,110.0,16.1,19.9,0,0,0,0,0,0,0
2,2,2016,8,3,DL,N803DN,658.0,-2.0,2016-08-03,USW00094789,...,110.0,16.1,19.9,0,0,0,0,0,0,0
3,3,2016,8,3,DL,N354NW,1814.0,30.0,2016-08-03,USW00094789,...,110.0,16.1,19.9,0,0,0,0,0,0,0
4,4,2016,8,3,DL,N713TW,803.0,-2.0,2016-08-03,USW00094789,...,110.0,16.1,19.9,0,0,0,0,0,0,0

In [17]:
df=df.drop(['WDF2','WDF5',"WSF5"],axis=1)

In [18]:
df.columns

Index([u'Unnamed: 0', u'YEAR', u'MONTH', u'DAY_OF_MONTH', u'OP_UNIQUE_CARRIER',
       u'TAIL_NUM', u'DEP_TIME', u'DEP_DELAY', u'DATE', u'STATION', u'NAME',
       u'AWND', u'PRCP', u'SNOW', u'SNWD', u'TAVG', u'TMAX', u'TMIN', u'WSF2',
       u'WT01', u'WT02', u'WT03', u'WT04', u'WT06', u'WT08', u'WT09'],
      dtype='object')

In [19]:
df=df.drop(['STATION','NAME'],axis=1)

In [20]:
df.head()

,Unnamed: 0,YEAR,MONTH,DAY_OF_MONTH,OP_UNIQUE_CARRIER,TAIL_NUM,DEP_TIME,DEP_DELAY,DATE,AWND,...,TMAX,TMIN,WSF2,WT01,WT02,WT03,WT04,WT06,WT08,WT09
0,0,2016,8,3,DL,N376DA,811.0,-4.0,2016-08-03,7.83,...,79,64,16.1,0,0,0,0,0,0,0
1,1,2016,8,3,DL,N3765,802.0,-3.0,2016-08-03,7.83,...,79,64,16.1,0,0,0,0,0,0,0
2,2,2016,8,3,DL,N803DN,658.0,-2.0,2016-08-03,7.83,...,79,64,16.1,0,0,0,0,0,0,0
3,3,2016,8,3,DL,N354NW,1814.0,30.0,2016-08-03,7.83,...,79,64,16.1,0,0,0,0,0,0,0
4,4,2016,8,3,DL,N713TW,803.0,-2.0,2016-08-03,7.83,...,79,64,16.1,0,0,0,0,0,0,0

In [21]:
df.isna().sum()

Unnamed: 0           0
YEAR                 0
MONTH                0
DAY_OF_MONTH         0
OP_UNIQUE_CARRIER    0
TAIL_NUM             0
DEP_TIME             0
DEP_DELAY            0
DATE                 0
AWND                 0
PRCP                 0
SNOW                 0
SNWD                 0
TAVG                 0
TMAX                 0
TMIN                 0
WSF2                 0
WT01                 0
WT02                 0
WT03                 0
WT04                 0
WT06                 0
WT08                 0
WT09                 0
dtype: int64

In [22]:
df=df[df["DEP_DELAY"]<=200]

In [23]:
delay=[]
for i,j in df['DEP_DELAY'].iteritems():
    if(j>0 and j<=10):
        delay.append(1)
    elif (j>10 and j<=30):
        delay.append(2)
    elif (j>30):
        delay.append(3)
    else:
        delay.append(0)

In [24]:
df['DELAY']=delay

(201347, 25)

In [91]:
holidays = pd.read_csv("US Bank holidays.csv",names=['Date','Holiday'])

In [92]:
holidays=holidays[(holidays['Date']>='2016-08') & (holidays['Date']<='2018-08')]

In [93]:
holidays['label']=1

In [94]:
holidays=holidays.reset_index(drop=True)

In [95]:
import datetime as dt

In [96]:
holidays['Date'].dtype

dtype('O')

In [97]:
holidays['Date']=pd.to_datetime(holidays['Date'], format = '%Y-%m-%d')

In [98]:
holidays

         Date                                Holiday  label
0  2016-09-05                              Labor Day      1
1  2016-10-10                           Columbus Day      1
2  2016-11-11                           Veterans Day      1
3  2016-11-24                       Thanksgiving Day      1
4  2016-12-25                          Christmas Day      1
5  2017-01-02                           New Year Day      1
6  2017-01-16             Martin Luther King Jr. Day      1
7  2017-02-20  Presidents Day (Washingtons Birthday)      1
8  2017-05-29                           Memorial Day      1
9  2017-07-04                       Independence Day      1
10 2017-09-04                              Labor Day      1
11 2017-10-09                           Columbus Day      1
12 2017-11-10                           Veterans Day      1
13 2017-11-23                       Thanksgiving Day      1
14 2017-12-25                          Christmas Day      1
15 2018-01-01                           New Year Day      1
16 2018-01-15             Martin Luther King Jr. Day      1
17 2018-02-19  Presidents Day (Washingtons Birthday)      1
18 2018-05-28                           Memorial Day      1
19 2018-07-04                       Independence Day      1

In [99]:
holidays=holidays.drop('Holiday',axis=1)

In [100]:
holidays

         Date  label
0  2016-09-05      1
1  2016-10-10      1
2  2016-11-11      1
3  2016-11-24      1
4  2016-12-25      1
5  2017-01-02      1
6  2017-01-16      1
7  2017-02-20      1
8  2017-05-29      1
9  2017-07-04      1
10 2017-09-04      1
11 2017-10-09      1
12 2017-11-10      1
13 2017-11-23      1
14 2017-12-25      1
15 2018-01-01      1
16 2018-01-15      1
17 2018-02-19      1
18 2018-05-28      1
19 2018-07-04      1

In [106]:
for i,row in holidays.iterrows():
    holidays=holidays.append({'Date':row['Date']+dt.timedelta(days=1),'label':0.67},ignore_index=True)
    holidays=holidays.append({'Date':row['Date']+dt.timedelta(days=2),'label':0.33},ignore_index=True)
    holidays=holidays.append({'Date':row['Date']-dt.timedelta(days=1),'label':0.67},ignore_index=True)
    holidays=holidays.append({'Date':row['Date']-dt.timedelta(days=2),'label':0.33},ignore_index=True)

In [117]:
merged_df=df.merge(holidays,on='DATE',how='outer')

In [109]:
holidays['DATE']=holidays["Date"]
holidays=holidays.drop('Date',axis=1)

In [111]:
df['DATE']=pd.to_datetime(df['DATE'], format = '%Y-%m-%d')

In [119]:
merged_df['holiday']=merged_df['label'].fillna(0)

In [116]:
df.shape

(201347, 25)

In [120]:
merged_df=merged_df.drop('label',axis=1)

In [122]:
merged_df=merged_df.drop('Unnamed: 0',axis=1)

In [124]:
merged_df['holiday'].unique()

array([0.  , 0.67, 1.  , 0.33])